In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
def load_data(train_path):


    # Separate features and target
    X = data.drop(columns=['Premium Amount'])  # Replace 'Premium Amount' with the actual target column
    y = data['Premium Amount']

    # Scale features
    scaler = MinMaxScaler()
    X_scaled = scaler.fit_transform(X)

    return X_scaled, y.values

In [3]:
data = pd.read_csv(r"D:\target\chalnges\kaggle_Regression_with_an_Insurance_Dataset\playground-series-s4e12\train.csv")

In [4]:
data.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [5]:
data=data.drop(columns=['id'])

In [6]:
data.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,Premium,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,Comprehensive,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,Premium,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,Basic,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,Premium,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [7]:
# data['Gender']=data['Gender'].replace({'Male':1,'Female':2})
# data['Marital Status'] = data['Marital Status'].fillna('Unknown') ## for furture reference pls make sure that nan is included in the streamlit . I have kept this so that the test file containing nan could also be able to correctly mapped.

# data['Marital Status'] = data['Marital Status'].replace({'Married': 1, 'Divorced': 0, 'Single': 2, 'Unknown': -1})

# data['Number of Dependents'] = data['Number of Dependents'].fillna('Unknown')
# data['Number of Dependents']=data['Number of Dependents'].replace({'Unknown':-1})

# data['Annual Income'] = data['Annual Income'].fillna('Unknown')
# data['Annual Income']=data['Annual Income'].replace({'Unknown':-1})

# data['Age'] = data['Age'].fillna('Unknown')
# data['Age']=data['Age'].replace({'Unknown':-1})

# data['Education Level']=data['Education Level'].replace({'Bachelor\'s':1,'High School':2,'Master\'s':3,'PhD':0})

# data['Occupation'] = data['Occupation'].fillna('Unknown') 
# data['Occupation'] = data['Occupation'].replace({'Employed': 1, 'Unemployed': 0, 'Self-Employed': 2, 'Unknown': -1})

# data['Health Score'] = data['Health Score'].fillna('Unknown')
# data['Health Score']=data['Health Score'].replace({'Unknown':-1})

# data['Location']=data['Location'].replace({'Urban':1,'Rural':2,'Suburban':3})

# data['Policy Type']=data['Policy Type'].replace({'Basic':1,'Comprehensive':2,'Premium':3})

# data['Previous Claims'] = data['Previous Claims'].fillna('Unknown')
# data['Previous Claims']=data['Previous Claims'].replace({'Unknown':-1})

# data['Vehicle Age'] = data['Vehicle Age'].fillna('Unknown')
# data['Vehicle Age']=data['Vehicle Age'].replace({'Unknown':-1})

# data['Credit Score'] = data['Credit Score'].fillna('Unknown')
# data['Credit Score']=data['Credit Score'].replace({'Unknown':-1})

# data['Insurance Duration'] = data['Insurance Duration'].fillna('Unknown')
# data['Insurance Duration']=data['Insurance Duration'].replace({'Unknown':-1})

# data['Customer Feedback'] = data['Customer Feedback'].fillna('Unknown') 
# data['Customer Feedback'] = data['Customer Feedback'].replace({'Average': 1, 'Poor': 0, 'Good': 2, 'Unknown': -1})

# data['Smoking Status']=data['Smoking Status'].replace({'Yes':1,'No':0})

# data['Exercise Frequency']=data['Exercise Frequency'].replace({'Monthly':1,'Weekly':2,'Daily':3,'Rarely':0})

# data['Property Type']=data['Property Type'].replace({'House':1,'Condo':2,'Apartment':3})

import pandas as pd

# Load your data
# data = pd.read_csv('your_dataset.csv')  # Uncomment and specify your file path

# Helper function for filling missing values and mapping
def fill_and_map(data, column, fill_value, mapping):
    data[column] = data[column].fillna(fill_value)
    data[column] = data[column].replace(mapping)
    return data

# Gender mapping
data['Gender'] = data['Gender'].replace({'Male': 1, 'Female': 2})

# Marital Status mapping
data = fill_and_map(data, 'Marital Status', 'Unknown', {'Married': 1, 'Divorced': 0, 'Single': 2, 'Unknown': -1})

# Number of Dependents mapping
data = fill_and_map(data, 'Number of Dependents', 'Unknown', {'Unknown': -1})

# Annual Income mapping
data = fill_and_map(data, 'Annual Income', 'Unknown', {'Unknown': -1})

# Age mapping
data = fill_and_map(data, 'Age', 'Unknown', {'Unknown': -1})

# Education Level mapping
data['Education Level'] = data['Education Level'].replace({'Bachelor\'s': 1, 'High School': 2, 'Master\'s': 3, 'PhD': 0})

# Occupation mapping
data = fill_and_map(data, 'Occupation', 'Unknown', {'Employed': 1, 'Unemployed': 0, 'Self-Employed': 2, 'Unknown': -1})

# Health Score mapping
data = fill_and_map(data, 'Health Score', 'Unknown', {'Unknown': -1})

# Location mapping
data['Location'] = data['Location'].replace({'Urban': 1, 'Rural': 2, 'Suburban': 3})

# Policy Type mapping
data['Policy Type'] = data['Policy Type'].replace({'Basic': 1, 'Comprehensive': 2, 'Premium': 3})

# Previous Claims mapping
data = fill_and_map(data, 'Previous Claims', 'Unknown', {'Unknown': -1})

# Vehicle Age mapping
data = fill_and_map(data, 'Vehicle Age', 'Unknown', {'Unknown': -1})

# Credit Score mapping
data = fill_and_map(data, 'Credit Score', 'Unknown', {'Unknown': -1})

# Insurance Duration mapping
data = fill_and_map(data, 'Insurance Duration', 'Unknown', {'Unknown': -1})

# Customer Feedback mapping
data = fill_and_map(data, 'Customer Feedback', 'Unknown', {'Average': 1, 'Poor': 0, 'Good': 2, 'Unknown': -1})

# Smoking Status mapping
data['Smoking Status'] = data['Smoking Status'].replace({'Yes': 1, 'No': 0})

# Exercise Frequency mapping
data['Exercise Frequency'] = data['Exercise Frequency'].replace({'Monthly': 1, 'Weekly': 2, 'Daily': 3, 'Rarely': 0})

# Property Type mapping
data['Property Type'] = data['Property Type'].replace({'House': 1, 'Condo': 2, 'Apartment': 3})

# Display transformed data (optional)
# print(data.head())

# Export the transformed data if required
# data.to_csv('processed_data.csv', index=False)  # Uncomment to save the transformed dataset

C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\583064965.py:60: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Gender'] = data['Gender'].replace({'Male': 1, 'Female': 2})
C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\583064965.py:56: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].replace(mapping)
C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\583064965.py:75: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Education Level'] = data['Education Level'].replace({'Bachelor\'s': 1, 'High School': 2, 'Master\'s': 3, 'PhD': 0})
C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\583064965.py:84: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Location'] = data['Location'].replace({'Urban': 1, 'Rural': 2, 'Suburban': 3})
C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\583064965.py:87: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Policy Type'] = data['Policy Type'].replace({'Basic': 1, 'Comprehensive': 2, 'Premium': 3})
C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\583064965.py:105: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Smoking Status'] = data['Smoking Status'].replace({'Yes': 1, 'No': 0})
C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\583064965.py:108: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Exercise Frequency'] = data['Exercise Frequency'].replace({'Monthly': 1, 'Weekly': 2, 'Daily': 3, 'Rarely': 0})
C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\583064965.py:111: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Property Type'] = data['Property Type'].replace({'House': 1, 'Condo': 2, 'Apartment': 3})

In [8]:
data['Policy Start Date'].value_counts()

Policy Start Date
2020-02-08 15:21:39.134960    142
2023-08-13 15:21:39.155231    137
2022-02-02 15:21:39.134960    137
2022-08-30 15:21:39.134960    134
2023-11-02 15:21:39.134960    118
                             ...
2021-06-07 15:21:39.104139      1
2024-07-19 15:21:39.233998      1
2019-12-14 15:21:39.110557      1
2020-07-23 15:21:39.217387      1
2020-10-19 15:21:39.118178      1
Name: count, Length: 167381, dtype: int64

In [9]:
data.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,19.0,2,10049.0,1,1.0,1,2,22.598761,1,3,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,0,0,2,1,2869.0
1,39.0,2,31678.0,0,3.0,3,-1,15.569731,2,2,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,1,1,1,1,1483.0
2,23.0,1,25602.0,0,3.0,2,2,47.177549,3,3,1.0,14.0,-1.0,3.0,2023-09-30 15:21:39.221386,2,1,2,1,567.0
3,21.0,1,141855.0,1,2.0,1,-1,10.938144,2,1,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,0,1,3,3,765.0
4,21.0,1,39651.0,2,1.0,1,2,20.376094,2,3,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,0,1,2,1,2022.0

In [10]:
data.describe

<bound method NDFrame.describe of           Age  Gender  Annual Income  Marital Status  Number of Dependents  \
0        19.0       2        10049.0               1                   1.0
1        39.0       2        31678.0               0                   3.0
2        23.0       1        25602.0               0                   3.0
3        21.0       1       141855.0               1                   2.0
4        21.0       1        39651.0               2                   1.0
...       ...     ...            ...             ...                   ...
1199995  36.0       2        27316.0               1                   0.0
1199996  54.0       1        35786.0               0                  -1.0
1199997  19.0       1        51884.0               0                   0.0
1199998  55.0       1           -1.0               2                   1.0
1199999  21.0       2           -1.0               0                   0.0

         Education Level  Occupation  Health Score  Location  Policy Type  \
0                      1           2     22.598761         1            3
1                      3          -1     15.569731         2            2
2                      2           2     47.177549         3            3
3                      1          -1     10.938144         2            1
4                      1           2     20.376094         2            3
...                  ...         ...           ...       ...          ...
1199995                3           0     13.772907         1            3
1199996                3           2     11.483482         2            2
1199997                3          -1     14.724469         3            1
1199998                0          -1     18.547381         3            3
1199999                0          -1     10.125323         2            3

         Previous Claims  Vehicle Age  Credit Score  Insurance Duration  \
0                    2.0         17.0         372.0                 5.0
1                    1.0         12.0         694.0                 2.0
2                    1.0         14.0          -1.0                 3.0
3                    1.0          0.0         367.0                 1.0
4                    0.0          8.0         598.0                 4.0
...                  ...          ...           ...                 ...
1199995             -1.0          5.0         372.0                 3.0
1199996             -1.0         10.0         597.0                 4.0
1199997              0.0         19.0          -1.0                 6.0
1199998              1.0          7.0         407.0                 4.0
1199999              0.0         18.0         502.0                 6.0

                  Policy Start Date  Customer Feedback  Smoking Status  \
0        2023-12-23 15:21:39.134960                  0               0
1        2023-06-12 15:21:39.111551                  1               1
2        2023-09-30 15:21:39.221386                  2               1
3        2024-06-12 15:21:39.226954                  0               1
4        2021-12-01 15:21:39.252145                  0               1
...                             ...                ...             ...
1199995  2023-05-03 15:21:39.257696                  0               0
1199996  2022-09-10 15:21:39.134960                  0               0
1199997  2021-05-25 15:21:39.106582                  2               0
1199998  2021-09-19 15:21:39.190215                  0               0
1199999  2020-08-26 15:21:39.155231                  2               1

         Exercise Frequency  Property Type  Premium Amount
0                         2              1          2869.0
1                         1              1          1483.0
2                         2              1           567.0
3                         3              3           765.0
4                         2              1          2022.0
...                     ...            ...             ...
1199995                   3              3          1303.0
1199996                   2              3           821.0
1199997                   1              2           371.0
1199998                   3              3           596.0
1199999                   1              1          2480.0

[1200000 rows x 20 columns]>

In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, LSTM, GRU, Conv1D, Flatten, Concatenate, Dropout
from tensorflow.keras.optimizers import Adam

In [12]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

# Assuming X is your feature matrix
# 1. Handle datetime columns
if 'Policy Start Date' in data.columns:
    data['Policy Start Date'] = pd.to_datetime(data['Policy Start Date'])
    data['Policy Start Date'] = data['Policy Start Date'].apply(lambda x: x.timestamp())

# 2. Encode categorical columns
categorical_cols = data.select_dtypes(include=['object', 'category']).columns
for col in categorical_cols:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])

# 3. Handle missing values
data = data.fillna(0)

In [13]:
X, y = load_data(data)

In [14]:
def create_ensemble_model(input_shape):
    # LSTM branch
    lstm_input = Input(shape=(input_shape[0], input_shape[1]))
    lstm_layer = LSTM(64, activation='relu', return_sequences=True)(lstm_input)
    lstm_output = Flatten()(lstm_layer)

    # GRU branch
    gru_input = Input(shape=(input_shape[0], input_shape[1]))
    gru_layer = GRU(64, activation='relu', return_sequences=True)(gru_input)
    gru_output = Flatten()(gru_layer)

    # CNN branch
    cnn_input = Input(shape=(input_shape[0], input_shape[1]))
    cnn_layer = Conv1D(64, kernel_size=3, activation='relu')(cnn_input)
    cnn_output = Flatten()(cnn_layer)

    # Concatenate outputs
    combined = Concatenate()([lstm_output, gru_output, cnn_output])
    dense_layer = Dense(128, activation='relu')(combined)
    dropout_layer = Dropout(0.3)(dense_layer)
    output = Dense(1, activation='linear')(dropout_layer)

    # Define the model
    model = Model(inputs=[lstm_input, gru_input, cnn_input], outputs=output)
    model.compile(optimizer=Adam(learning_rate=0.001), loss='mse', metrics=['mae'])

    return model

In [15]:
def train_model(model, X_train, y_train, X_val, y_val, batch_size=32, epochs=50):
    # Train the model
    history = model.fit(
        [X_train, X_train, X_train],  # Inputs for each branch
        y_train,
        validation_data=([X_val, X_val, X_val], y_val),
        batch_size=batch_size,
        epochs=epochs,
        verbose=1
    )
    return history

In [16]:
X_reshaped = X.reshape(X.shape[0], X.shape[1], 1)

# Split data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_reshaped, y, test_size=0.2, random_state=42)

# Create the model
input_shape = (X_train.shape[1], X_train.shape[2])
ensemble_model = create_ensemble_model(input_shape)

# Train the model
history = train_model(ensemble_model, X_train, y_train, X_val, y_val)

# Save the model
ensemble_model.save('insurance_premium_ensemble_model.h5')

Epoch 1/50

C:\Users\Asus\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\keras\src\models\functional.py:225: UserWarning: The structure of `inputs` doesn't match the expected structure: ['keras_tensor', 'keras_tensor_3', 'keras_tensor_6']. Received: the structure of inputs=('*', '*', '*')
  warnings.warn(

30000/30000 ━━━━━━━━━━━━━━━━━━━━ 277s 9ms/step - loss: 775067.0000 - mae: 676.0685 - val_loss: 748484.5625 - val_mae: 655.5749
Epoch 2/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 224s 7ms/step - loss: 758949.6250 - mae: 671.3137 - val_loss: 744119.0000 - val_mae: 665.1180
Epoch 3/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 213s 7ms/step - loss: 756421.0000 - mae: 669.6592 - val_loss: 743412.5000 - val_mae: 672.7195
Epoch 4/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 216s 7ms/step - loss: 755841.8125 - mae: 669.1960 - val_loss: 740519.4375 - val_mae: 669.4545
Epoch 5/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 215s 7ms/step - loss: 747161.5625 - mae: 663.7966 - val_loss: 736168.6875 - val_mae: 647.5353
Epoch 6/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 216s 7ms/step - loss: 743484.5625 - mae: 659.6086 - val_loss: 725952.1250 - val_mae: 654.7542
Epoch 7/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 215s 7ms/step - loss: 735250.6250 - mae: 653.7956 - val_loss: 721134.0000 - val_mae: 648.7466
Epoch 8/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 224s 7ms/step - loss: 731714.1250 - mae: 650.9842 - val_loss: 718527.8750 - val_mae: 645.6208
Epoch 9/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 226s 8ms/step - loss: 728680.8750 - mae: 649.1862 - val_loss: 722105.0625 - val_mae: 636.0925
Epoch 10/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 245s 8ms/step - loss: 725788.1875 - mae: 646.7099 - val_loss: 714689.1875 - val_mae: 646.3495
Epoch 11/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 217s 7ms/step - loss: 724618.2500 - mae: 645.9116 - val_loss: 715937.5625 - val_mae: 633.8368
Epoch 12/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 217s 7ms/step - loss: 722504.7500 - mae: 643.6814 - val_loss: 713647.3125 - val_mae: 645.3546
Epoch 13/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 217s 7ms/step - loss: 724897.5000 - mae: 644.9467 - val_loss: 712921.0625 - val_mae: 647.5370
Epoch 14/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 218s 7ms/step - loss: 719696.6875 - mae: 641.3734 - val_loss: 715631.8750 - val_mae: 638.6632
Epoch 15/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 218s 7ms/step - loss: 723093.0000 - mae: 642.9748 - val_loss: 712585.8125 - val_mae: 639.8409
Epoch 16/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 718112.3125 - mae: 640.0522 - val_loss: 710920.8125 - val_mae: 639.1834
Epoch 17/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 220s 7ms/step - loss: 719499.6250 - mae: 640.9695 - val_loss: 707813.1875 - val_mae: 635.6419
Epoch 18/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 716486.3125 - mae: 639.1208 - val_loss: 706940.3125 - val_mae: 640.0080
Epoch 19/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 716653.3750 - mae: 639.2356 - val_loss: 706403.5625 - val_mae: 632.3683
Epoch 20/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 718174.5625 - mae: 639.0803 - val_loss: 705961.5000 - val_mae: 637.1802
Epoch 21/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 220s 7ms/step - loss: 717769.3125 - mae: 639.0964 - val_loss: 705842.7500 - val_mae: 634.8042
Epoch 22/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 716371.4375 - mae: 637.6269 - val_loss: 707618.0000 - val_mae: 635.2084
Epoch 23/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 714707.1875 - mae: 637.2811 - val_loss: 710782.9375 - val_mae: 630.5527
Epoch 24/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 716553.5625 - mae: 637.9229 - val_loss: 708810.0625 - val_mae: 631.2116
Epoch 25/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 220s 7ms/step - loss: 716899.8125 - mae: 638.1996 - val_loss: 706060.5000 - val_mae: 631.2257
Epoch 26/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 716424.2500 - mae: 637.5015 - val_loss: 704656.7500 - val_mae: 633.0666
Epoch 27/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 715829.5625 - mae: 637.1738 - val_loss: 704892.6250 - val_mae: 637.6240
Epoch 28/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 714738.3750 - mae: 636.2386 - val_loss: 707877.1250 - val_mae: 630.0497
Epoch 29/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 218s 7ms/step - loss: 713662.5000 - mae: 636.1796 - val_loss: 703701.6250 - val_mae: 632.2886
Epoch 30/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 220s 7ms/step - loss: 714854.1875 - mae: 636.2214 - val_loss: 705566.1875 - val_mae: 635.8182
Epoch 31/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 714608.2500 - mae: 636.4722 - val_loss: 705059.5000 - val_mae: 632.0759
Epoch 32/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 218s 7ms/step - loss: 712434.7500 - mae: 634.8242 - val_loss: 705638.4375 - val_mae: 638.6469
Epoch 33/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 220s 7ms/step - loss: 716361.3750 - mae: 636.9470 - val_loss: 705076.2500 - val_mae: 630.9925
Epoch 34/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 713949.0625 - mae: 636.0920 - val_loss: 705841.1250 - val_mae: 633.1617
Epoch 35/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 716753.4375 - mae: 636.8348 - val_loss: 703752.8750 - val_mae: 632.7696
Epoch 36/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 221s 7ms/step - loss: 714096.7500 - mae: 636.0001 - val_loss: 706167.6875 - val_mae: 636.2366
Epoch 37/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 219s 7ms/step - loss: 713963.8125 - mae: 635.7822 - val_loss: 705856.4375 - val_mae: 632.4170
Epoch 38/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 260s 9ms/step - loss: 711021.3750 - mae: 634.6500 - val_loss: 702681.4375 - val_mae: 634.7302
Epoch 39/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 250s 8ms/step - loss: 711005.4375 - mae: 634.6138 - val_loss: 705602.1875 - val_mae: 635.2733
Epoch 40/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 254s 8ms/step - loss: 716234.1875 - mae: 636.8773 - val_loss: 704438.7500 - val_mae: 634.6754
Epoch 41/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 249s 8ms/step - loss: 711788.5000 - mae: 634.4558 - val_loss: 704289.0000 - val_mae: 629.3295
Epoch 42/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 251s 8ms/step - loss: 709407.9375 - mae: 633.6341 - val_loss: 703532.8125 - val_mae: 634.2504
Epoch 43/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 249s 8ms/step - loss: 711826.5625 - mae: 634.7775 - val_loss: 704884.3125 - val_mae: 633.7443
Epoch 44/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 248s 8ms/step - loss: 711761.7500 - mae: 634.9293 - val_loss: 706180.7500 - val_mae: 623.8491
Epoch 45/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 248s 8ms/step - loss: 712093.9375 - mae: 634.4681 - val_loss: 703433.0000 - val_mae: 628.6243
Epoch 46/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 245s 8ms/step - loss: 711347.5625 - mae: 634.6558 - val_loss: 705461.8750 - val_mae: 634.4294
Epoch 47/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 248s 8ms/step - loss: 711108.5625 - mae: 634.0787 - val_loss: 704147.8750 - val_mae: 637.3928
Epoch 48/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 249s 8ms/step - loss: 710675.5000 - mae: 634.0655 - val_loss: 704830.3750 - val_mae: 635.5059
Epoch 49/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 247s 8ms/step - loss: 711055.1875 - mae: 634.3303 - val_loss: 704421.8125 - val_mae: 625.9631
Epoch 50/50
30000/30000 ━━━━━━━━━━━━━━━━━━━━ 234s 8ms/step - loss: 710431.9375 - mae: 633.8289 - val_loss: 703934.1250 - val_mae: 630.8824

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [43]:
test=pd.read_csv(r"D:\target\chalnges\kaggle_Regression_with_an_Insurance_Dataset\playground-series-s4e12\test.csv")

In [44]:
import pandas as pd

# Load your data
# data = pd.read_csv('your_dataset.csv')  # Uncomment and specify your file path

# Helper function for filling missing values and mapping
def fill_and_map(test, column, fill_value, mapping):
    test[column] = test[column].fillna(fill_value)
    test[column] = test[column].replace(mapping)
    return data

# Gender mapping
test['Gender'] = test['Gender'].replace({'Male': 1, 'Female': 2})

test=test.drop(columns='id')

# Marital Status mapping
test = fill_and_map(test, 'Marital Status', 'Unknown', {'Married': 1, 'Divorced': 0, 'Single': 2, 'Unknown': -1})

# Number of Dependents mapping
test = fill_and_map(test, 'Number of Dependents', 'Unknown', {'Unknown': -1})

# Annual Income mapping
test = fill_and_map(test, 'Annual Income', 'Unknown', {'Unknown': -1})

# Age mapping
test = fill_and_map(test, 'Age', 'Unknown', {'Unknown': -1})

# Education Level mapping
test['Education Level'] = test['Education Level'].replace({'Bachelor\'s': 1, 'High School': 2, 'Master\'s': 3, 'PhD': 0})

# Occupation mapping
test = fill_and_map(test, 'Occupation', 'Unknown', {'Employed': 1, 'Unemployed': 0, 'Self-Employed': 2, 'Unknown': -1})

# Health Score mapping
test = fill_and_map(test, 'Health Score', 'Unknown', {'Unknown': -1})

# Location mapping
test['Location'] = test['Location'].replace({'Urban': 1, 'Rural': 2, 'Suburban': 3})

# Policy Type mapping
test['Policy Type'] = test['Policy Type'].replace({'Basic': 1, 'Comprehensive': 2, 'Premium': 3})

# Previous Claims mapping
test = fill_and_map(test, 'Previous Claims', 'Unknown', {'Unknown': -1})

# Vehicle Age mapping
test = fill_and_map(test, 'Vehicle Age', 'Unknown', {'Unknown': -1})

# Credit Score mapping
test = fill_and_map(test, 'Credit Score', 'Unknown', {'Unknown': -1})

# Insurance Duration mapping
test = fill_and_map(test, 'Insurance Duration', 'Unknown', {'Unknown': -1})

# Customer Feedback mapping
test = fill_and_map(test, 'Customer Feedback', 'Unknown', {'Average': 1, 'Poor': 0, 'Good': 2, 'Unknown': -1})

# Smoking Status mapping
test['Smoking Status'] = test['Smoking Status'].replace({'Yes': 1, 'No': 0})

# Exercise Frequency mapping
test['Exercise Frequency'] = test['Exercise Frequency'].replace({'Monthly': 1, 'Weekly': 2, 'Daily': 3, 'Rarely': 0})

# Property Type mapping
test['Property Type'] = test['Property Type'].replace({'House': 1, 'Condo': 2, 'Apartment': 3})

C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\4270738604.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test['Gender'] = test['Gender'].replace({'Male': 1, 'Female': 2})
C:\Users\Asus\AppData\Local\Temp\ipykernel_15236\4270738604.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test[column] = test[column].replace(mapping)

In [45]:
test.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,19.0,2,10049.0,1,1.0,1,2,22.598761,1,3,2.0,17.0,372.0,5.0,0.0,0,0,2,1,2869.0
1,39.0,2,31678.0,0,3.0,3,-1,15.569731,2,2,1.0,12.0,694.0,2.0,0.0,1,1,1,1,1483.0
2,23.0,1,25602.0,0,3.0,2,2,47.177549,3,3,1.0,14.0,-1.0,3.0,0.0,2,1,2,1,567.0
3,21.0,1,141855.0,1,2.0,1,-1,10.938144,2,1,1.0,0.0,367.0,1.0,0.0,0,1,3,3,765.0
4,21.0,1,39651.0,2,1.0,1,2,20.376094,2,3,0.0,8.0,598.0,4.0,0.0,0,1,2,1,2022.0

In [46]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

# Assuming X is your feature matrix
# 1. Handle datetime columns
if 'Policy Start Date' in test.columns:
    test['Policy Start Date'] = pd.to_datetime(test['Policy Start Date'])
    test['Policy Start Date'] = test['Policy Start Date'].apply(lambda x: x.timestamp())

# 2. Encode categorical columns
categorical_cols = test.select_dtypes(include=['object', 'category']).columns
for col in categorical_cols:
    le = LabelEncoder()
    test[col] = le.fit_transform(test[col])

# 3. Handle missing values
test = test.fillna(0)

In [47]:
test.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,19.0,2,10049.0,1,1.0,1,2,22.598761,1,3,2.0,17.0,372.0,5.0,0.0,0,0,2,1,2869.0
1,39.0,2,31678.0,0,3.0,3,-1,15.569731,2,2,1.0,12.0,694.0,2.0,0.0,1,1,1,1,1483.0
2,23.0,1,25602.0,0,3.0,2,2,47.177549,3,3,1.0,14.0,-1.0,3.0,0.0,2,1,2,1,567.0
3,21.0,1,141855.0,1,2.0,1,-1,10.938144,2,1,1.0,0.0,367.0,1.0,0.0,0,1,3,3,765.0
4,21.0,1,39651.0,2,1.0,1,2,20.376094,2,3,0.0,8.0,598.0,4.0,0.0,0,1,2,1,2022.0

In [48]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Load the test data
test_file_path = r"D:\target\chalnges\kaggle_Regression_with_an_Insurance_Dataset\playground-series-s4e12\test.csv"  # Replace with the actual path
test = pd.read_csv(test_file_path)

# Example preprocessing steps: adjust based on your data
if 'Policy Start Date' in test.columns:
    test['Policy Start Date'] = pd.to_datetime(test['Policy Start Date'])
    test['Policy Start Date'] = test['Policy Start Date'].apply(lambda x: x.timestamp())

categorical_cols = test.select_dtypes(include=['object', 'category']).columns
for col in categorical_cols:
    test[col] = test[col].fillna('Unknown')
    test[col] = test[col].astype(str)

test = test.fillna(0)  # Fill any remaining NaN values

In [49]:
from sklearn.preprocessing import LabelEncoder

# Encode each categorical column
for col in categorical_cols:
    le = LabelEncoder()
    test[col] = le.fit_transform(test[col])

In [58]:
test = test.fillna(0)  # Replace missing values with 0 or another appropriate strategy
test=test.drop(columns='id')

In [59]:
test.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,28.0,0,2310.0,3,4.0,0,1,7.657981,0,0,0.0,19.0,0.0,1.0,1.685892e+09,2,1,3,2
1,31.0,0,126031.0,1,2.0,2,1,13.381379,1,2,0.0,14.0,372.0,8.0,1.713799e+09,1,1,2,0
2,47.0,0,17092.0,0,0.0,3,2,24.354527,2,1,0.0,16.0,819.0,9.0,1.680708e+09,0,1,1,1
3,28.0,0,30424.0,0,3.0,3,1,5.136225,1,1,1.0,3.0,770.0,5.0,1.698247e+09,2,1,0,2
4,24.0,1,10863.0,0,2.0,1,2,11.844155,1,2,0.0,14.0,755.0,7.0,1.637940e+09,0,0,3,2

In [60]:
input_features = 19
ensemble_factor = 3
target_input_shape = input_features * ensemble_factor

In [61]:
from tensorflow.keras.models import load_model

model_path = "insurance_premium_ensemble_model.h5"  # Replace with the actual path
model = load_model(model_path, compile=False)  # Load without compiling

In [62]:
if test.shape[1] == input_features:
    # Repeat the test data features to create inputs for each model in the ensemble
    processed_test_data = np.tile(test.values, (1, ensemble_factor))
else:
    raise ValueError(f"Unexpected input shape. Expected {input_features} features, got {test.shape[1]}.")

In [66]:
from tensorflow.keras.models import load_model

# Load the ensemble model without compiling
model_path = r"D:\target\chalnges\kaggle_Regression_with_an_Insurance_Dataset\insurance_premium_ensemble_model.h5"
ensemble_model = load_model(model_path, compile=False)

print("Model loaded successfully!")

Model loaded successfully!

In [71]:
import tensorflow as tf
input1, input2, input3 = tf.unstack(processed_test_data, axis=-1)

In [72]:
predictions = ensemble_model.predict([input1, input2, input3])

C:\Users\Asus\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\keras\src\models\functional.py:225: UserWarning: The structure of `inputs` doesn't match the expected structure: ['input_layer', 'input_layer_1', 'input_layer_2']. Received: the structure of inputs=('*', '*', '*')
  warnings.warn(

25000/25000 ━━━━━━━━━━━━━━━━━━━━ 75s 3ms/step

In [74]:
# Assuming `predictions` is a NumPy array or list of predicted values
# Assuming `ids` contains the corresponding IDs for the predictions

# Create a DataFrame matching the sample submission format
submission_df = pd.DataFrame({
    'id': range(1200000, 1200000 + len(predictions)),  # Adjust the ID range if needed
    'Premium Amount': predictions.flatten()  # Ensure predictions are 1D
})

# Save the submission file
output_file = "submission.csv"
submission_df.to_csv(output_file, index=False)

print(f"Submission saved to {output_file}")

Submission saved to submission.csv

In [75]:
# Convert the 'Premium Amount' column to a standard decimal format
submission_df['Premium Amount'] = submission_df['Premium Amount'].apply(lambda x: f"{x:.2f}")

# Save the updated submission to a new CSV file
output_file = "formatted_submission.csv"
submission_df.to_csv(output_file, index=False)

print(f"Formatted submission saved to {output_file}")

Formatted submission saved to formatted_submission.csv